{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
{% if succ %}
<div class="alert alert-success" role="alert">{{ succ }}</div>

{% endif %}
<div class="text-center">
    <br>
    <h1>WELCOME TO OUR WEBSITE</h1>
    <br>
    <p>This is the second assignment of the IBM sessions.</p>
    <p>This is a assignment by - <ul><centre>
        <li><strong>Charumathi .K .J</strong> </li><li><strong>Keertika .N</strong> </li><li><strong>Kaviya .C</strong> </li><li><strong>Shwetha .S</strong> </li>
    </ul></centre></p>
    <br>
    <br>
    <br>

</div>
{% endblock content %}